[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"
pika = "*"
openai = "*"
asyncpg = "*"
python-dotenv = "*"
pydantic = "*"
aio-pika = "*"
watchdog = "*"
aioredis = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
